body{
    width: 30%;
}
table{
    font-size: 30px;
    float: right;
    padding: 60px;
    height: 367px;
    width: 30%;
}
h1{
    font-size: 30px;
    width: 45px;
 

}
.formulario{
    width: 47%;
    float: left;
}
.lol{
    width: 96%;
    float: 15%;
    height: 31%

}
.pup{
    width: 96%;
    float: 15%;
}
