<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <lin rel="stylesheet" href="/static/css/style.css">
  </head>
<body>
  

 
    <nav class="navbar navbar-expand-lg navbar-light bg-">
        <div class="container-fluid">
          <a class="navbar-brand" href="/inicio">Incio</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/lugares">Lugares</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/simulacion">Simulacion</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/reservas">Reservas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/registro">registro</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/login">login</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/perfil" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Perfil
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="/ayuda">Ayuda</a></li>
                  <li><a class="dropdown-item" href="/carrito">Carrito</a></li>
                  <li><a class="dropdown-item" href="/salir">Salir</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    
      <div class="container">
        <div class="row">
          <div class="col">

      

      <div class="card" style="width: 18rem;">
        <img src="/static/parque-del-cafe-quindio-23-1-1680x1121-1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Parque del Cafe</h5>
          <p class="card-text">Al 24 de febrero de 1995 inició operaciones el Parque del Café. Localizado en Montenegro Quindóo, a solo 15 minutos de Armenia, capital del Quindío. Inicialmente el parque estaba en un área mucho más pequeña que la actual, e inició con un recorrido por cafetales, un museo, una replica de antiguas estaciones de trenes en el Quindío y un teleférico.</p>
          <a href="#" class="btn btn-primary">Reserve Aqui</a>
        </div>
      </div>

    
      <div class="card" style="width: 18rem;">
        <img src="/static/pueblo tapao.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Pueblo Tapao</h5>
          <p class="card-text">Ubicado a 10 minutos de Armenia, Pueblo Tapao es un corregimiento del municipio de Montenegro erigido como tal el 31 de enero de 1978.
            Se encuentra en una zona que a futuro será un importante corredor vial —en términos de conectividad turística— que unirá a La Tebaida con Pueblo Tapao, Montenegro y Circasia.</p>
          <a href="#" class="btn btn-primary">Reserve Aqui</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="/static/parque-panaca-ingreso.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Panaca</h5>
          <p class="card-text">En el año de 1999, nace en el Quindío, mas exactamente en Quimbaya, municipio localizado a 35 minutos de Armenia, el parque Panaca. Destacado por ser el primer parque temático agropecuario del mundo, y el segundo de los sitios turísticos en el Quindío mas visitado.</p>
          <a href="#" class="btn btn-primary">Reserve Aqui</a>
        </div>
      </div>

     
      <div class="card" style="width: 18rem;">
        <img src="/static/valle-del-cocora-salento-quindio.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Valle del Cocora</h5>
          <p class="card-text">A tan solo 10 kms de Salento, y 45 minutos de Armenia, la Capital del Departamento del Quindío, encontramos uno de los paisajes mas famosos del Eje Cafetero, y de toda Colombia. Lugar imperdible si desea conocer los principales sitios turisticos en el Quindio.</p>
          <a href="#" class="btn btn-primary">Reserve Aqui</a>
        </div>
      </div>
      
      <div class="card" style="width: 18rem;">
        <img src="/static/filandia-quindio66.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Las calles de Finlandia </h5>
          <p class="card-text">Después de Salento, el Municipio de Filandia en el Quindio, es el segundo mas visitado, por su belleza arquitectónica, y ambiente único de esto pueblos que representan lo mejor del patrimonio cultural cafetero.</p>
          <a href="#" class="btn btn-primary">Reserve Aqui</a>
        </div>
      </div>


      <div class="card" style="width: 18rem;">
        <img src="/static/tour-nevado-santa-isabel.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Tour al nevado de Santa Isabel </h5>
          <p class="card-text">Y que decir de esta aventura epica algo de frio pero vale la pena ver esta hermosura y disfrutar este lugar.</p>
          <a href="#" class="btn btn-primary">Reserve Aqui</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="/static/balsaje-quindio1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Balsaje por el rio de la vieja </h5>
          <p class="card-text">Una aventura total para llegar al equilibrio de la tranquilidad en este hermoso viaje por el rijo de la vieja.</p>
          <a href="#" class="btn btn-primary">Reserve Aqui</a>
        </div>
      </div>

<div class="card" style="width: 18rem;">
  <img src="/static/quindio-salento-800.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Salento </h5>
    <p class="card-text">Salento, el pueblo más antiguo del Quindío, es el sitio que más atrae turistas en el Eje Cafetero.</p>
    <a href="#" class="btn btn-primary">Reserve Aqui</a>
  </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>