main{
    width: 100%;
    border: 1px solid #000;
    display: flex;
    /* flex-flow: column-reverse wrap;  */
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    align-content: space-evenly;
    height: 200px;
}

section{
    width: 200%;
    background: yellow;
    color: #000;
    padding: 25px;
}
article{
    width: 200%;
    background: red;
    color: black;
    padding: 25px;
}
div{
    width: 200%;
    background: blue;
    color: #fff;
    padding: 25px;
}
nav{
    width: 100%;
    display: flex;
    justify-content: center;
    background: #09d8eb;
}
ul{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
li{
   list-style: none;
   display: inline;
}
a{
  text-align: none;
  padding: 10px;
  color: black;
  
}